<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accelerometer test</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    <link rel="stylesheet" href="../static/css/pc.css">
<script type = 'module' src = '../static/js/accelerometer.js'></script>
</head>   
<body>
<div class = "mobile">
  <button id="motionPerms">Enable Motion</button>
  <button id="startTracking">Start Tracking</button>

</div>

<div class = "pc">


    <canvas id="canvas"> </canvas>
    <div id="messages"></div>
<video id="camFeed" autoplay loop muted class="hidden"> </video>
    
<div id="mySidebar" class="sidebar">
<h1 id = "bodyinfoheader">Settings</h1>


<p>Height (Meters)</p>
<input id="height" class="bodyinput" type="number" step="any" placeholder="height" style="width: 100%; margin-bottom: 10px;" />
<button id="heightButton">Set Height</button>



<p>Color</p>
<div class = "flex-container">
<input id="R" class="bodyinput c-group" type="number" step="any" placeholder="Radius" style="width: 100%; margin-bottom: 10px;" />
<input id="G" class="bodyinput c-group" type="number" step="any" placeholder="Radius" style="width: 100%; margin-bottom: 10px;" />
<input id="B" class="bodyinput c-group" type="number" step="any" placeholder="Radius" style="width: 100%; margin-bottom: 10px;" />


</div>


</div>

<button id="prevBall">Previous</button>
<button id="nextBall">Next</button>

<button id="deleteBall">Delete Current</button>
</div>

<!-- <button id="add-body">Add Body</button> -->
</body>
<script type = 'module' src = '../static/js/simulation.js'></script>

<script type = 'module' src = '../static/js/camera.js'></script>

</html>